{% if vet.is_published %}
    <a href="{% url 'vets-detail' slug=vet.slug pk=vet.pk %}" class="border rounded-sm p-2 flex h-60 w-2xl gap-4 bg-orange-100">
    <div class="flex w-fit flex-col">
      <div class="flex flex-row justify-center gap-2 font-semibold text-lg">
        <p>{{ vet.user.first_name }}</p>
        <p>{{ vet.user.last_name }}</p>
      </div>
      {% if vet.photo %}
        <img class="mt-3 border rounded-sm h-45 w-50 object-cover" src="{{ vet.photo.url }}">
      {% else %}
        <div id="imagePreviewDiv" class="mt-3 h-45 w-50 mx-auto rounded-sm border bg-gray-100 flex items-center justify-center text-gray-400">No photo</div>
        <img id="ImagePreview" class="h-45 w-50 rounded-full hidden" src="">
      {% endif %}
    </div>
    <div class=" w-md gap-2 flex flex-col flex-wrap">
      <div>
        <label class="text-xl font-semibold">Specialization</label>
        <p>{{ vet.specialization }}</p>
      </div>
      <div>
        <label class="text-xl font-semibold">Years of experience</label>
        <p>{{ vet.years_of_experience }}</p>
      </div>
      <div>
        <label class="text-xl font-semibold">Biography</label>
        <p class="w-100 overflow-hidden text-ellipsis">{{ vet.bio }}</p>
      </div>
    </div>
    </a>
{% endif %}