{% extends 'accounts/profile_card.html' %}

{% block profile_pic %}
    {% if vet.photo %}
        <form method="POST" action="{% url 'update-vet-photo' %}" enctype="multipart/form-data">
            {% csrf_token %}
            <img class="h-25 w-25 mx-auto" src="{{ vet.photo.url }}">
            <input type="file" name="photo" accept="image/*" id="photo-input" class="hidden"
                   onchange="this.form.submit()">
            <label for="photo-input" class="flex justify-center">Change Photo</label>
        </form>
    {% else %}
        <form method="POST" action="{% url 'update-vet-photo' %}" enctype="multipart/form-data">
            {% csrf_token %}
                    <div class="h-25 w-25 mx-auto rounded-sm border bg-gray-100 flex items-center justify-center text-gray-400">No photo</div>
            <input type="file" name="photo" accept="image/*" id="photo-input" class="hidden"
                   onchange="this.form.submit()">
            <label for="photo-input" class="flex justify-center">Change Photo</label>
        </form>
    {% endif %}
{% endblock %}


{% block fields %}
    <div class="flex flex-row gap-2">
        <label class="font-light">Specialization: </label>
        <p>{{ vet.specialization }}</p>
    </div>
    <form method="POST" action="{% url 'update-vet-bio' %}">
        {% csrf_token %}
        <div class="flex flex-row gap-2 justify-start">
            <label class="font-light">Bio: </label>
            <textarea class="border rounded-sm" name="bio" rows="3" style="resize:none">{{ vet.bio }}</textarea>
            <button type="submit">Save</button>
        </div>
    </form>
    <div class="flex flex-row gap-2">
        <label class="font-light">Years of experience: </label>
        <p>{{ vet.years_of_experience }}</p>
    </div>
{% endblock %}
