{% extends 'pets/pets-add-edit-base.html' %}


{% block header %}
<h1 class="text-2xl font-semibold mx-auto gap-10">Register Pet</h1>
{% endblock %}

{% block button %}
<button class="flex mx-auto border rounded-sm p-2 text-lg w-25 bg-green-200
  justify-center hover:cursor-pointer"
  type="submit">Submit</button>
{% endblock %}

{% block image_field %}
<div class="flex flex-col">
    <label>Pet Photo:</label>
    <input type="file" name="pet_photo" accept="image/*" id="pet_photo_input" class="hidden"
           onchange="previewImage(this)">
    <button type="button" onclick="document.getElementById('pet_photo_input').click()"
            class="bg-white border rounded-sm p-1 w-60 cursor-pointer">
        Upload Image
    </button>
    <img id="preview" src="" class="hidden w-40 h-40 mx-auto rounded-sm mt-2">
</div>

<script>
function previewImage(input) {
    const preview = document.getElementById('preview');
    if (input.files && input.files[0]) {
        const reader = new FileReader();
        reader.onload = e => {
            preview.src = e.target.result;
            preview.classList.remove('hidden');
        };
        reader.readAsDataURL(input.files[0]);
    }
}
</script>
{% endblock %}
