{% extends 'common/profile_navbar.html' %}

{% block content %}
<div class="flex flex-col m-5 bg-amber-50 w-150 h-100 border rounded-sm shadow-sm">
    <div class="font-bold border-b p-4 text-center">
        <p class="text-2xl">{{ object.name }}</p>
        <p class="text-sm text-gray-500 font-normal">Owner: {{ object.owner.username }}</p>
    </div>
    <div class="flex flex-row gap-8 p-6 items-center">
        {% if object.pet_photo %}
            <img class="h-65 w-65 object-cover rounded-sm border" src="{{ object.pet_photo.url }}">
        {% else %}
            <div class="h-50 w-50 rounded-sm border bg-gray-100 flex items-center justify-center text-gray-400">No photo</div>
        {% endif %}
        <div class="flex flex-col divide-y divide-gray-200 flex-1 text-lg font-semibold">
            <p class="py-2">Species: {{ object.species }}</p>
            <p class="py-2">Breed: {{ object.breed }}</p>
            <p class="py-2">Birth date: {{ object.date_of_birth }}</p>
        </div>
    </div>
</div>
{% endblock %}