{% extends 'base.html' %}

{% block content %}
<form id="date-form" method="post" class="mx-auto">
    {% csrf_token %}
    <div class="flex h-123.5">
        <input id="selected-date" class="hidden" name="selected_date">
        <div id="tab-holder" class="flex flex-col border p-2 gap-2 bg-gray-200 rounded-sm rounded-r-none overflow-auto w-fit items-center">
        </div>
        <div id="tabs" class="p-4 bg-blue-100 border border-l-0 rounded-r-sm">
            <h1 id="timeslots-header" class="flex justify-center text-2xl font-semibold mb-10">></h1>
            {{ form.available_slots }}
        </div>
    </div>
    {% if messages %}
        {% for message in messages %}
        <div class="w-fit" id="error-messages">{{ message }}</div>
        {% endfor %}
    {% endif %}
    <button id="saveBtn" class="bg-blue-400 border w-auto mx-auto flex justify-center rounded-sm py-2 px-4 mt-6" type="submit">Save</button>
</form>
{% endblock %}

{% block scripts %}
<script>

    const next60Days = Array.from({ length: 60 }, (_, i) => {
        const date = new Date();
        date.setDate(date.getDate() + i);
        return date.toLocaleDateString('en-US', {
          month: 'long',
          day: 'numeric',
          year: 'numeric'
        });
    });

    const tabHolder = document.getElementById('tab-holder')
    const tabs = document.getElementById('tabs')
    const header = document.getElementById('timeslots-header')
    const dateForSubmit = document.getElementById('selected-date')
    dateForSubmit.value = next60Days[0];
    console.log(dateForSubmit.value)

        const takenSlots = {{ slots|safe }};



    function checkTimesForDate () {

        const SelectDate = new Date(dateForSubmit.value)
        const year = SelectDate.getFullYear()
        const month = String(SelectDate.getMonth() + 1).padStart(2, '0')
        const day = String(SelectDate.getDate()).padStart(2, '0')
        const DateStr = `${year}-${month}-${day}`;

        const timesForThisDate = takenSlots
            .filter(slot => slot.date === DateStr)
            .map(slot => slot.time)

        document.querySelectorAll("input[name='available_slots']").forEach(checkbox => {
            checkbox.checked = !!timesForThisDate.includes(checkbox.value + ':00');
        })
    }

    checkTimesForDate()

    next60Days.forEach((date, i) => {
        tabHolder.innerHTML += `<div class="border rounded-sm w-35 max-w-45 p-4" data-index="${i}"><span id='date-span'>${date}</span></div>`
    })

    header.textContent = `Schedule for ${next60Days[0]}`;

    tabHolder.addEventListener('click', (e) => {
        const tab = e.target.closest('div[data-index]')
        const index = tab.dataset.index
        if (!tab) return;

        dateForSubmit.value = next60Days[index]
        header.textContent = `Schedule for ${tab.innerText}`;

        checkTimesForDate()
    })
</script>
{% endblock %}