{% extends 'base.html' %}

{% block navbar %}
<nav class="sticky container [&>a]:px-2 [&>a]:rounded-lg mx-auto text-center text-lg bg-white w-xl flex gap-6 justify-center">
    {% if user.role == 'OWNER' %}
        <a href="{% url 'user-profile' %}" class="hover:bg-gray-200">Your Profile</a>
    {% else %}
        <a href="{% url 'vet-profile' %}" class="hover:bg-gray-200">Your Profile</a>
    {% endif %}
    <a href="{% url 'pets' %}" class="hover:bg-gray-200">Pets</a>
    {% if user.role == 'OWNER' %}
        <a href="{% url 'appointments' %}" class="hover:bg-gray-200">Appointments</a>
    {% elif user.role == 'VET' and user.vet_profile %}
        <a href="{% url 'vet-schedule' slug=user.vet_profile.slug %}" class="hover:bg-gray-200">Schedule</a>
    {% endif %}
    {% if user.role == 'VET' and user.vet_profile %}
        <a href="{% url 'vet-favorited_by' %}" class="hover:bg-gray-200">Favorited By</a>
    {% else %}
        <a href="{% url 'user-favorites' %}" class="hover:bg-gray-200">Favorites</a>
    {% endif %}
</nav>
{% endblock %}