{% extends 'base.html' %}
{% load time_ago %}

{% block content %}
    <div class="flex gap-2 m-2">
        <a class="text-2xl border rounded-sm p-1 bg-gray-300" href="{% url 'forum-post-create' %}">Create Post + </a>
        <a class="text-2xl border rounded-sm p-1 bg-gray-300" href="{% url 'tag-list' %}">Tags</a>
    </div>
    <div class="flex m-4 flex-col gap-4 justify-center items-center">
    {% if object_list %}
        {% for object in object_list %}
            <div class="flex border p-4 rounded-sm w-md gap-2">
                <div class="flex-wrap flex-col w-90">
                <div class="flex row items-center gap-2">
                    <a href="{% url 'forum-post-details' pk=object.pk %}" class="text-2xl font-semibold">{{ object.title }}</a>
                    <p>{{ object.created_on|posted_time_ago }}</p>
                </div>
                    <p class="wrap-break-word line-clamp-2">{{ object.content }}</p>
                    {% if object.tags.all %}
                        <div class="flex flex-wrap gap-1 mt-1">
                            {% for tag in object.tags.all %}
                                <a href="{% url 'tag-detail' pk=tag.pk %}" class="bg-blue-100 text-blue-700 px-2 py-0.5 rounded-sm text-xs hover:underline">#{{ tag.name }}</a>
                            {% endfor %}
                        </div>
                    {% endif %}
                </div>
                {% if object.author == user %}
                    <div class="flex flex-col">
                        <a href="{% url 'forum-edit-post' pk=object.pk %}" class="bg-blue-500 w-15 text-center rounded-sm border border-black py-1 px-2 text-white hover:underline mt-1">Edit</a>
                        <a href="{% url 'forum-delete-post' pk=object.pk %}" class="bg-red-500 w-15 text-center rounded-sm border
                         border-black py-1 px-2 text-white hover:underline mt-1">
                            Delete
                        </a>
                    </div>
                {% endif %}
            </div>
        {% endfor %}
    {% endif %}
    </div>
{% endblock %}